[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
djoser = "*"
django-otp = "*"
pyotp = "*"
djangorestframework-simplejwt = "*"
pypdf2 = "*"
pillow = "*"
pdf2image = "*"
reportlab = "*"
poppler-utils = "*"
pdf2docx = "*"
python-docx = "*"
openpyxl = "*"
pywin32 = "*"
pdfplumber = "*"
pandas = "*"
fpdf = "*"

[dev-packages]

[requires]
python_version = "3.12"
